# pixi environments
.pixi/*
!.pixi/config.toml

# build/clang artifacts
build/
.cache/

# code editor config
project.4coder
.vscode/

# lit tests
tests/lit/.lit_test_times.txt
tests/lit/**/Output/

docs/
